.contact{
    width: 1217;
    height: auto;
}


.background{
    background-color: #0b181e;
}


.container-fluid{
    width: auto;
}

.submit__button{
    border-radius: 0%;
}

#Name::placeholder{
    color: white;
}

#Email::placeholder{
    color: white;
}

#Subject::placeholder{
    color: white;
}

#floatingTextarea2::placeholder{
    color: white;
}

.Formulaire{
    align-items: center;
    justify-content: center;
  
 }
 