@use '../abstract/variable' as *;

.contact{
    &__background{
        background-color: #0b181e;

    }

    &__title{
        font-size: 4rem;
        font-family: $font-family-title;
    }
}

#Name::placeholder{
    color: white;
}

#Email::placeholder{
    color: white;
}

#Subject::placeholder{
    color: white;
}

#floatingTextarea2::placeholder{
    color: white;
}



