
.En-tete{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

.expect{
    background: url("/assets/img/rectangle-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.Button-learn-more{
    border-color: #f9b860;
    color: #f9b860;
    background-color: #000000;
    align-items: start;
    text-align: start;
}

.form-control{
    border-radius: 0%;
    border-color: white;
    background-color: #0b181e;
    height: 70px;
  
    
}


