
.En-tete{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

.expect{
    background: url("/assets/img/Rectangle\ 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.form-control{
    border-radius: 0%;
    border-color: white;
    background-color: #0b181e;
    height: 70px;

}


