.navbar{
    width: 85%;
    margin: 0;
}

.container_title{
    width: 100%;
    background-image: url(../img/hero-wrapper.png);
    background-size: cover;
    height:100vh;
    background-color: black;
}
.title{
    width: fit-content;

}