@use "../abstract/variable" as *;

.slider__texte{
    text-align: center;
    width: 39%;
    font-family: "Releway-Regular";
}

.slider__bg{
    width: 100%;
    height: 60vh;
    color: white;
    background-color: #0b181e;
}

.slider__subtitle{
    font-family: "PlairfairDisplay-Regular";
}

.carousel-indicators [data-bs-target]{
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
    border-radius: 50%;
}