@use '../base/typo.scss';

$primary:       #0B181E;
$secondary:     #F9B860 ;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
) ;

$font-family-base : 'Releway-Regular';
$font-family-title : 'PlairfairDisplay-Regular';
$h1-font-size: 5em;
$h2-font-size: 3rem;
$btn-border-radius: 0;

$body-color : white;
$link-color : white;
