body{
    padding: 0%;
    margin: 0%;
    background-color: black;
    $font-family :"Raleway", sans-serif;
    text-align: center;
    align-items: center;
    color: white;
 
}

footer{
    background-color: #000000;
    height: 160px;
    align-items: center;

}
