@use './layout/galery.scss';
@use './layout/slider.scss';
@use './layout/ready.scss';
@import './bootstrap/scss/bootstrap.scss';


$carousel-indicator-width : 30px;
$carousel-indicator-height : 30px;

body{
    background-color: black;
}


.test{
    width: 100%;
    height: 50vh;
}

// classe boostrap

.carousel-indicators [data-bs-target]{
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
    border-radius: 50%;
}


