/* Error: Duplicate key.
 *     ,
 * 181 |   "blue-200": $blue-200,
 *     |   ========== first key
 * 182 |   "blue-200": $blue-200,
 *     |   ^^^^^^^^^^ second key
 *     '
 *   bootstrap\scss\_variables.scss 182:3  @import
 *   bootstrap\scss\bootstrap.scss 8:9     @import
 *   main.scss 4:9                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Duplicate key.\a     \2577 \a 181 \2502    "blue-200": $blue-200,\d\a     \2502    \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  first key\a 182 \2502    "blue-200": $blue-200,\d\a     \2502    ^^^^^^^^^^ second key\a     \2575 \a   bootstrap\\scss\\_variables.scss 182:3  @import\a   bootstrap\\scss\\bootstrap.scss 8:9     @import\a   main.scss 4:9                         root stylesheet';
}
